<footer class="bg-[#040408fd] text-gray-100 py-12">
    <div class="mx-auto lg:max-w-7xl w-full px-5 sm:px-10 md:px-12 lg:px-5">
        <div class="flex flex-col lg:flex-row justify-between items-center gap-10">
            <div class="flex flex-col gap-4">
                <div class="flex items-center gap-3">
                    <div id="logo" class="relative w-10 h-10 overflow-hidden flex rounded-xl">

                    </div>
                    <div class="inline-flex text-lg font-semibold">
                        i18n4e
                    </div>
                </div>
                <p class="description text-gray-200">
                    i18n4e is a package that offers a modern, quick and easy way to add internationalization support to your Express Js application.
                </p>
            </div>
            <div class="flex flex-col gap-4">
                <div class="text-lg font-semibold">Usage</div>
                <ul class="flex flex-col gap-2">

                    <li>
                      <a href="https://www.npmjs.com/package/i18n4e" class="text-gray-200 hover:text-gray-100">Npm</a>
                  </li>
                  <li>
                    <a href="https://yarnpkg.com/package?name=i18n4e" class="text-gray-200 hover:text-gray-100">Yarn</a>
                </li>
                </ul>
            </div>
            <div class="flex flex-col gap-4">
                <div class="text-lg font-semibold">Contact</div>
                <ul class="flex flex-col gap-2">
                    <li>
                        <a href="mailto:luisp.diias@gmail.com" class="text-gray-200 hover:text-gray-100">Email</a>
                    </li>
                    <li>
                      <a href="https://github.com/luiisp/" class="text-gray-200 hover:text-gray-100">Github</a>
                  </li>
                </ul>
            </div>
        </div>
        <div class="mt-10 border-t border-gray-700 pt-6 flex justify-between items-center">
            <div class="text-gray-200">© i18n4e</div>
            <div class="text-gray-200">Created with ❤️ by <a href="https://github.com/luiisp" class="text-[#FF0F7C] font-bold hover:underline">luiisp</a></div>
            <span class="text-gray-200">Latest <span class="version">...</span></span>
            <div class="flex gap-4">
                <a href="https://github.com/luiisp/i18n4e/blob/main/CODE_OF_CONDUCT.md" class="text-gray-200 hover:text-gray-100">Code of Conduct</a>
                <a href="https://github.com/luiisp/i18n4e/blob/main/SECURITY.md" class="text-gray-200 hover:text-gray-100">Security</a>
            </div>
        </div>
    </div>
    
</footer>