<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/style.css" type="text/css" />
    <title>i18n4e - Docs</title>
    <meta
      name="description"
      content="i18n4e is a package that offers a modern, quick and easy way to add internationalization support to your Express Js application."
    />
    <meta
      name="keywords"
      content="i18n4e, express, internationalization, i18n, expressjs, express.js, express.js internationalization, express.js i18n, express.js i18n support, express.js internationalization support, express.js i18n4e, express.js i18n4e support, express.js i18n4e internationalization support, express.js i18n4e internationalization, express.js i18n4e i18n, express.js i18n4e express, express.js i18n4e express.js, express.js i18n4e expressjs, express.js i18n4e express.js internationalization, express.js i18n4e express.js i18n, express.js i18n4e express.js express, express.js i18n4e express.js expressjs, express.js i18n4e express.js i18n support, express.js i18n4e express.js internationalization support, express.js i18n4e express.js i18n4e, express.js i18n4e express.js i18n4e support, express.js i18n4e express.js i18n4e internationalization support, express.js i18n4e express.js i18n4e internationalization, express.js i18n4e express.js i18n4e i18n, express.js i18n4e express.js i18n4e express, express.js i18n4e express.js i18n4e express.js, express.js i18n4e express.js i18n4e expressjs, express.js i18n4e express.js i18n4e express.js internationalization, express.js i18n4e express.js i18n4e express.js i18n, express.js i18n4e express.js i18n4e express.js express, express.js i18n4e express.js i18n4e express.js expressjs, express.js i18n4e express.js i18n4e express.js i18n support, express.js i18n4e express.js i18n4e express.js internationalization support, express.js i18n4e express.js i18n4e express.js i18n4e, express.js i18n4e express.js i18n4e express.js i18n
    "/>
    <link rel="icon" href="img/favicon.ico" />
  </head>
</html>
