<%-include("./partials/header")-%>

  <body class="bg-[#040408fd]">
    <%-include("./partials/nav")-%>
  
  
  <section class="relative py-32 lg:py-36 " id="hero">
      <div
          class="mx-auto lg:max-w-7xl flex justify-center items-center w-full px-5 sm:px-10 md:px-12 lg:px-5 lg:flex-row gap-10 lg:gap-12">
          <div class="absolute w-full lg:w-1/2 inset-y-0 lg:right-0 opacity-20 hidden lg:block">
              <span
                  class="absolute -left-6 md:left-4 top-24 lg:top-28 w-24 h-24 rotate-90 skew-x-12 rounded-3xl bg-[#0089EC] blur-xl  lg:opacity-95 lg:block hidden"></span>
              <span class="absolute right-4 bottom-12 w-24 h-24 rounded-3xl bg-[#FF0F7C] blur-xl"></span>
          </div>
          <span
              class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-blue-600 to-[#FF0F7C] absolute -top-5 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"></span>
          <div class="relative flex flex-col items-center text-center lg:text-left lg:py-7 xl:py-8 
              lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2">
  
              <h1 class="text-3xl leading-tight sm:text-4xl md:text-5xl xl:text-6xl
              font-bold text-gray-100">
              <span
                      class="text-transparent bg-clip-text bg-gradient-to-br from-blue-200 from-20% via-rose-600 via-30% to-blue-600">i18n4e:</span>
                      <span i18nID="phr"></span>
              </h1>
              <p class="mt-8 text-gray-200" i18nID="desc">
              
              </p>
              <div class="mt-10  w-full flex max-w-md mx-auto lg:mx-0">
                  <div class="flex sm:flex-row items-center  justify-center  flex-col gap-5 w-full">
                      <a href="/docs"
                          class="flex emerald justify-center bg-[#FF117D] items-center w-full sm:w-max px-6 h-12 rounded-full outline-none relative overflow-hidden border duration-300 ease-linear 
                      after:absolute after:inset-x-0 after:aspect-square after:scale-0 after:opacity-70  after:origin-center after:duration-300 after:ease-linear after:rounded-full after:top-0 after:left-0 after:bg-[#0089EC] hover:after:opacity-100 hover:after:scale-[2.5] border-transparent hover:border-[#FF117D]">
                          <span class="relative z-10 font-bold" i18nID="read-docs">
                            Read the documentation
                          </span>
                      </a>  
                      <a href="https://github.com/luiisp/i18n4e/"
                      class="flex justify-center border border-[#0089EC] items-center w-full sm:w-max px-6 h-12 rounded-full outline-none relative overflow-hidden duration-300 ease-linear
                  after:absolute after:inset-x-0 after:aspect-square after:scale-0 after:opacity-70 after:origin-center after:duration-300 after:ease-linear after:rounded-full after:top-0 after:left-0 after:bg-[#FF117D] hover:after:opacity-100  hover:after:scale-[2.5] border-transparent hover:border-[#FF117D]">
                      <span class="relative z-10 text-white">
                          Official Repository
                      </span>
                  </a>
                  </div>
              </div>
          </div>

      </div>
  </section>
  <%-include("./partials/footer")-%>

  <script>
  const btnHumb = document.querySelector("[data-toggle-navbar]")
  const navbar = document.querySelector("[data-navbar]")
  const overlay = document.querySelector("[data-nav-overlay]")
  if (btnHumb && navbar) {
      const toggleBtnAttr = () => {
          const isOpen = btnHumb.getAttribute("data-is-open")
          btnHumb.setAttribute("data-is-open", isOpen === "true" ? "false" : "true")
          if (isOpen === "false") {
              overlay.classList.toggle("hidden")
          } else {
              overlay.classList.add("hidden")
          }
      }
      btnHumb.addEventListener("click", () => {
          navbar.classList.toggle("invisible")
          navbar.classList.toggle("opacity-0")
          navbar.classList.toggle("translate-y-10")
          toggleBtnAttr()
      })
  
      overlay.addEventListener("click", () => {
          navbar.classList.add("invisible")
          navbar.classList.add("opacity-0")
          navbar.classList.add("translate-y-10")
          toggleBtnAttr()
      })
  }
  </script>

<script src="scripts/get-package-info.js"></script>
<script src="scripts/index.js"></script>
</html>
