<%-include("../partials/html")-%>
<head>
    <%-include("../partials/meta")-%>
    <title>i18n4e: Getting Started</title>
</head>

<body class="relative bg-[#040408fd]">
    <div class="absolute inset-0 z-0 select-none pointer-events-none">
        <img src="img/gradient.jpg" alt="bg" class="w-full h-full opacity-10 object-cover">
    </div>

    <%- include("../partials/nav") %>

<div id="popup" style="display: none;" class="fixed w-full z-50 flex items-center justify-center bg-[#d7d7d7] bg-opacity-65 backdrop-blur-xl">
    <span class="my-1 text-black ">Example</span>
</div>
    
    <section class="relative z-10 mx-auto flex flex-col items-center justify-center lg:max-w-7xl w-full px-5 sm:px-10 md:px-12 lg:px-5">
        <div class="mt-8 text-center gap-2 px-10 flex flex-col justify-center items-center space-y-8">
            <div class="p-8">
                <h1 class="text-4xl font-semibold text-[#FF0F7C]" i18nID="what-is-title">What is i18n4e?</h1>
                <p class="text-[#0089EC] mt-4 text-xl" i18nID="what-is-content">i18n4e is a package that helps you internationalize your Express applications easily and efficiently inspired by chrome.i18n</p>
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" class="text-[#050509] shadow-xl rounded-full shadow-[#ff0f7b61] bg-[#FF0F7C] animate-bounce w-12 h-12 self-center" viewBox="0 0 24 24">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="m7 10l5 5m0 0l5-5"/>
            </svg>

            <div class="text-center w-full lg:w-3/4">
                <h1 class="text-4xl font-semibold text-white" i18nID="start-title">Getting Started</h1>
                <h1 class="text-2xl my-8 font-semibold text-[#0089EC]" i18nID="server">Server</h1>
                <div class="my-8 w-full backdrop-blur-xl bg-opacity-60 bg-[#030208] p-2 rounded-full shadow-lg flex items-center justify-center">
                    <input type="text" class="bg-transparent text-white p-2 px-6 rounded-lg w-full focus:outline-none" value="npm install i18n4e" readonly>
                    <button id="copy" class="ml-4 text-[#040408] px-4 py-2 rounded-full font-bold">
    
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-[#f5f4ff7d]"  viewBox="0 0 512 512"><path fill="currentColor" d="M408 480H184a72 72 0 0 1-72-72V184a72 72 0 0 1 72-72h224a72 72 0 0 1 72 72v224a72 72 0 0 1-72 72"/><path fill="currentColor" d="M160 80h235.88A72.12 72.12 0 0 0 328 32H104a72 72 0 0 0-72 72v224a72.12 72.12 0 0 0 48 67.88V160a80 80 0 0 1 80-80"/></svg>
                    </button>
                </div>
                <h1 class="text-2xl font-semibold text-[#FF0F7C]" i18nID="client">Client </h1>
                <div class="my-8 w-full backdrop-blur-xl bg-opacity-60 bg-[#030208] p-2 rounded-full shadow-lg flex items-center justify-center">
                    <input type="text" class="bg-transparent text-white p-2 px-6 rounded-lg w-full focus:outline-none" value='<script src="https://cdn.jsdelivr.net/npm/i18n4e/client-dist/i18n4e.min.js"></script>' readonly>
                    <button id="copy" class="ml-4 text-[#040408] px-4 py-2 rounded-full font-bold">
    
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-[#f5f4ff7d]"  viewBox="0 0 512 512"><path fill="currentColor" d="M408 480H184a72 72 0 0 1-72-72V184a72 72 0 0 1 72-72h224a72 72 0 0 1 72 72v224a72 72 0 0 1-72 72"/><path fill="currentColor" d="M160 80h235.88A72.12 72.12 0 0 0 328 32H104a72 72 0 0 0-72 72v224a72.12 72.12 0 0 0 48 67.88V160a80 80 0 0 1 80-80"/></svg>
                    </button>
                </div>
                
            </div>



        </div>
    </section>

    <%- include("../partials/footer") %>

    <script src="scripts/get-package-info.js"></script>
    <script src="scripts/index.js"></script>
    <script src="scripts/utils.js"></script>
</body>
</html>
